.nav-container {
  background: -webkit-linear-gradient(to right, #c31432, #240b36);
  background: #c31432; /* fallback for old browsers */
  background: linear-gradient(to right, #c31432, #240b36);
  box-shadow: 0px 1px 1px 0px rgba(148, 145, 148, 0.5);
  padding: 1em 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
.nav-container ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.nav-container li,
a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}
.nav-Link-active {
  background-color: rgba(148, 145, 148, 0.4);
  border-radius: 0.3em;
  padding: 0.3em;
}
.section-routes {
  margin: 7em 2em;
}
